<h1 id="tableLabel">Subscriber</h1>

<p>This component demonstrates fetching data from the server.</p>

<div >
  <apx-chart #chart
             [series]="chartOptions.series"
             [chart]="chartOptions.chart"
             [xaxis]="chartOptions.xaxis"
             [dataLabels]="chartOptions.dataLabels"
             [grid]="chartOptions.grid"
             [stroke]="chartOptions.stroke"
             [title]="chartOptions.title"></apx-chart>
</div>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="exampleMsg">
  <thead>
    <tr>
      <th>SequenceNumber</th>
      <th>Temp.</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let msg of exampleMsg">
      <td>{{ msg.m_sequenceNumber }}</td>
      <td>{{ msg.m_temperature }}</td>
    </tr>
  </tbody>
</table>
